# Lines that start with '#' are comments.

# Ignore class files
*.class
# Ignore vim swp files
.*.swp
# Ignore repo log files
alfresco*.log*

# Everyone want's their own Eclipse setup
.project
.classpath

# Package Files
*.jar
*.war
*.ear
/bin
/build
/target
*/build
*/target
